html {
  background: #11278d;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}
input {
    position: relative;
    border: 0 solid black;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
  list-style: none;
  position: relative;
  cursor: pointer;
  padding: 12px 8px 12px 40px;
  background: #eee;
  color: black;
  text-align:left;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

ul li:hover {
    background: #ddd;
}

.toDoContainer {
  margin: auto;
  border: .4rem solid black;
  border-radius: .5rem;
  padding: 20px 40px ;
  width: 50%;
  background: rgba(0,0,0,0.4);
  color: white;
}

.toDoInput {
    background: #d4d4d4;
    padding: 30px 40px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}
